@media (max-width: 768px) {
  .fadeOut {
    animation-name: none;
  }
}

body {
  background-color: #2a7557;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
}

.bodyDiv {
  background-color: #2a7557;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.resume-bodyDiv {
  background-color: #2a7557;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
}

.resume-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.skills {
  text-align: center;
  width: 100%;
}

.middle {
  text-align: center;
}

.middle p {
  font-size: 4em;
  margin: 20px 0;
}

.middle ul {
  padding: 0;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

#header {
  justify-content: center;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.footer {
  margin-top: 10px;
  justify-content: center;
}

.footer li {
  display: inline;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}

.profilePic {
  border-radius: 100px;
  width: 100px;
  margin: 10px;
}

.twitterIcon {
  order: 2;
}

.githubIcon {
  order: 3;
}

.linkedInIcon {
  order: 4;
}

.icon {
  color: white;
  font-size: 2em;
  padding-right: 3px;
}

.blogs {
  margin-left: 20%;
  margin-right: 20%;
}

.column {
  background-color: #2a7557;
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column p {
  margin: 10px 16px;
}

.column p:nth-of-type(2) {
  text-align: center;
}

.column h1 {
  margin: 8px 16px;
  text-align: center;
}

.flask {
  height: 62px;
  width: 62px;
}

html {
  height: 100%;
}

.intro {
  width: 50%;
}

.pdf {
  color: red;
  font-size: 2em;
}

.pdf-object {
  margin-left: 5%;
  margin-right: 5%;
}

.poem {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.projectPics {
  border-radius: 10px;
  height: 47%;
  width: 90%;
  margin: auto;
}

.column-container {
  flex-wrap: wrap;
}

.project1 {
  order: 1;
}

.project2 {
  order: 2;
}

.project3 {
  order: 3;
}

.resume-icon {
  color: white;
  font-size: 4em;
}

.scala {
  height: 70px;
  width: 70px;
}

.separator {
  font-size: 1.5em;
}

ul {
  padding: 0;
}
